* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
   background-image:url(IMAGENES/fondo2.png);
   background-size:cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.contacto { 
    display: flex;
    flex-wrap: wrap;
    float: left;
    border-radius:50px;
    text-align: left;
    max-width: 600px;
    background-color: #e4e6eb;
    padding: 2em;
    border: 1px solid #000000;
}
p, h1, h2, label{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input, textarea{
    border: 2px solid #000000  ;
    width: 100px;
    margin: 2px;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input:hover{
    border: 7px solid #170cac;
}
button{
    background-color:#ffffff;
    color: #000000;
    font-size: 20px;
    border-radius: 70px;
    transition: 1s;
}
button:hover{
    transform: scale(1.2);
    background-color: #170cac;
}
@media (max-width:720px) {
    body{
        background-image: none;
        background-color: #737373;
    }
}